<main class="w-full m-auto xl:px-12">
  <div class="h-[10vh] lg:h-[70vh] flex items-center justify-center">
    <h1 class="text-center text-2xl lg:text-9xl">
      <span *ngFor="let letter of letters; let i = index" 
            class="letter uppercase" 
            [ngClass]="{'animate': animate}" 
            [ngStyle]="{'--index': i}">
        {{ letter }}
      </span>
    </h1>
  </div>
  <div class="justify-between uppercase items-center hidden lg:flex">
    <p>Ready to find your dream</p>
    <p>Yuri Silva • Fullstack Developer</p>
    <p>Ready to start your project</p>
  </div>

</main>