<header class="lg:px-32 fixed top-0 left-0 right-0 z-10 w-full flex items-center justify-center bg-black">
  <nav class="flex">
    <ul class="text-white gap-5 py-10 mx-auto items-center tracking-wider hidden lg:flex">
      <li><a class="px-3 py-2" href="">Home</a></li>
      <li><a class="px-5 py-2" href="#about-me">About Me</a></li>
      <li><a href=""><img src="./assets/images/logo-y.svg" alt="Logo Yuri Silva"></a></li>
      <li><a  class="px-5 py-2" href="/" class="soon cursor-not-allowed ">Projects</a></li>
      <li><a  class="px-5 py-2" href="/" class="soon cursor-not-allowed ">Blog</a></li>
    </ul>

    <div class="p-5 lg:hidden mobile-nav">
      <a href=""><img src="./assets/images/logo-y.svg" alt="Logo Yuri Silva"></a>
    </div>
  </nav>
</header>