.soon{
  position: relative;
  text-decoration: line-through 3px;
  text-decoration-color: #9EC6F3;
  text-decoration-style: wavy
}

.soon::after{
  display: none;
  position: absolute;
  content: 'soon';
  font-size: 0.9rem;
  color: #9EC6F3;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  cursor: none;
}

.soon:hover::after {
  display: block;
}