.scroll-text {
  transform: translateX(var(--scroll-position, 0px)); 
  transition: transform 0.1s linear; 
  will-change: transform; 
  display: flex;
  white-space: nowrap;
}

.img-bw, .icons-tech > li > img {
  filter: grayscale(100%);
  transition: filter 0.5s ease; 
}

.img-bw:hover, .icons-tech > li > img:hover {
  filter: grayscale(0%); 
  transition: filter 0.3s ease;
}

.icons {
  filter: grayscale(100%); 
  transition: filter 0.5s ease; 
}

.icons:hover {
  filter: grayscale(0%); 
  transition: filter 0.3s ease;
}