<section class="w-full h-full py-10 lg:py-20 mb-20">
  <div class="relative overflow-hidden w-full h-[100px] md:h-[150px] bg-black">
    <div 
      class="flex whitespace-nowrap uppercase px-2 text-2xl md:text-6xl lg:text-7xl will-change-transform"
      [style.transform]="'translateX(' + scrollPosition + 'px)'">  
      <span *ngFor="let word of repeatedWords" class="mr-6 md:mr-10">
        <span class="text-[#9EC6F3]">*</span> 
        {{ word }}
      </span>
    </div>
  </div>

  <div class="container w-11/12 md:w-10/12 lg:w-8/12 mx-auto">
    <div class="flex flex-col lg:flex-row justify-center gap-10 items-center">
      <img src="./assets/images/eu.jpg" alt="Yuri Silva" 
           class="rounded-4xl w-40 h-auto md:w-52 lg:w-64 img-bw">
      
      <div class="flex gap-4">
        <a href="https://www.linkedin.com/in/yuriaraujoo/" target="_blank">
          <img src="./assets/images/icons/linkedin.svg" alt="Resume Download" 
               class="cursor-pointer icons w-8 md:w-10 lg:w-12">
        </a>
        <a href="https://github.com/yu-araujos" target="_blank">
          <img src="./assets/images/icons/github.svg" alt="Github Profile" 
               class="icons cursor-pointer w-8 md:w-10 lg:w-12">
        </a>
      </div>
    </div>

    <div class="mt-6">
      <p class="text-center text-xl md:text-3xl lg:text-5xl leading-relaxed">
        I'm a software developer with a passion for the world of technology.  
        I have a solid background in front-end development and enjoy exploring back-end technologies as well.
      </p>
    </div>
  </div>
</section>